<div ng-controller="AppCtrl" ng-cloak="" class="carddemoCardActionButtons" ng-app="MyApp">
  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs="" flex-gt-xs="50" layout="column">
      <md-card>
        <img  ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Omkar Dusane</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
       I am a software developer, Loves three things : Eat, Sleep and Code . <br /> What I do best is Design Minimum IVable Products and software components for startups and Build them. I live in Mumbai and I am open to discuss with you your ideas and your business plans. feel free to contact me. 
          </p>
          <br />
          <p>  omkardusane@gmail.com | +91 9821850314 | omkardusane2@hotmail.com (skype) </p>
        </md-card-content>
        <md-card-actions layout="column" layout-align="start">
          <md-button  ng-click="go('https://www.linkedin.com/in/omkardusane')"  >LinkedIn</md-button>
          <md-button   ng-click="go('https://www.facebook.com/dusaneomkar2')" >Facebook</md-button>
        </md-card-actions>
      </md-card>
    </div>
    </md-content>
</div>
